<script lang="ts">
	import Icon from "@iconify/svelte";
	import { Direction } from "$lib/model/arrows/direction";

	export let directionHandler: (direction: Direction) => void;
	export let stopHandler: () => void;
</script>

<div class="directional-buttons">
	<button style="grid-area: front;" class="direction-button" on:mousedown={() => directionHandler(Direction.FORWARD)} on:mouseup={stopHandler}>
		<Icon icon="akar-icons:chevron-up" />
	</button>
	<button style="grid-area: left;" class="direction-button" on:mousedown={() => directionHandler(Direction.LEFT)} on:mouseup={stopHandler}>
		<Icon icon="akar-icons:arrow-counter-clockwise" />
	</button>
	<button style="grid-area: right;" class="direction-button" on:mousedown={() => directionHandler(Direction.RIGHT)} on:mouseup={stopHandler}>
		<Icon icon="akar-icons:arrow-clockwise" />
	</button>
	<button style="grid-area: back;" class="direction-button" on:mousedown={() => directionHandler(Direction.BACKWARD)} on:mouseup={stopHandler}>
		<Icon icon="akar-icons:chevron-down" />
	</button>
</div>

<style>
	.directional-buttons {
		margin: 40px auto;
		width: 180px;
		height: 180px;
		display: grid;
		grid-gap: 0;
		grid-template-columns: 60px 60px 60px;
		grid-template-rows: 60px 60px 60px;
		grid-template-areas: ".... front ....."
							"left  ...  right"
							".... back .....";    
	}

	.direction-button {
		margin: 0;
		padding: 16px;
		color: var(--main-light);
		background: var(--main-neutral);
		position: relative;
		border-radius: 50%;
		border: 0px solid var(--main-neutral);
		font-size: 28px;
		cursor: pointer;
	}

	.direction-button:hover {
		background-color: var(--main-dark);
		border: 0px solid var(--main-neutral);
	}
</style>