<script>
    import { page } from '$app/stores';
    import Icon from '@iconify/svelte';
</script>

<div id="sidebar">
    <div class="logo">
        M.A.<br>
        L.S.
    </div>
    <nav>
        <a class:active={$page.url.pathname === "/"} href="/"><Icon icon="fluent:board-24-regular" /></a>
        <a class:active={$page.url.pathname === "/monitoring"} href="/monitoring"><Icon icon="prime:chart-bar" /></a>
        <a class:active={$page.url.pathname === "/settings"} href="/settings"><Icon icon="heroicons:adjustments-horizontal" /></a>
        <a class:active={$page.url.pathname === "/about"} href="/about"><Icon icon="ph:info-fill" /></a>
    </nav>
    <div class="sidebar-bottom">
        <a href="https://codeberg.org/atlas144/mals" target="_blank" rel="noopener noreferrer"><Icon icon="simple-icons:codeberg" width="34px" height="34px" /></a>
    </div>
</div>

<div class="content">
    <slot />
</div>

<style>
    :root {
        --main-light: #fff;
        --main-neutral: #054805;
        --main-dark: #043c04;

        --back-light: #eee;
        --back-dark: #aaa;

        --additional-light: #a8e2a8;
        --additional-neutral: #1e9724;

        --good: var(--additional-neutral);
        --bad: #b00;
    }

    @font-face {
        font-family: 'Lab Mono';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/labmono-regular-web.woff2') format('woff2');
    }

    @font-face {
        font-family: 'DIN Schablonierschrift';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/DINSRG.ttf') format('truetype');
    }

    :global(body) {
        margin: 0;
        background-color: var(--back-light);
        font-family: 'Lab Mono';
    }

    #sidebar {
        height: 100%;
        width: 80px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--main-neutral);
        color: var(--main-light);
        overflow-x: hidden;
        padding-top: 20px;
        text-align: center;
    }

    #sidebar a {
        padding-top: 8px;
        text-decoration: none;
        font-size: 40px;
        color: inherit;
        display: block;
        border-left: 6px solid var(--main-neutral);
        border-right: 6px solid var(--main-neutral);
    }

    #sidebar a:hover {
        color: var(--additional-light);
    }

    #sidebar .active {
        border-left-color: var(--additional-light);
        border-right-color: var(--main-dark);
        background-color: var(--main-dark);
    }

    .logo {
        margin-top: 0;
        margin-bottom: 60px;
        font-family: 'DIN Schablonierschrift';
        font-size: 32px;
        text-align: center;
    }
    
    .sidebar-bottom {
        padding-bottom: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 80px;
        text-align: center;
    }

    .content {
        margin-left: 80px;
        padding: 10px;
    }
</style>