<script lang="ts">
	import { ControlType } from "$lib/model/settings/control-type";
	import { controlType } from "$lib/stores/control-config";

	let type: ControlType = ControlType.MANUAL;

	controlType.subscribe((value) => {
		type = value;
	});
</script>

<svelte:head>
	<title>Control dashboard | M.A.L.S.</title>
	<meta name="description" content="M.A.L.S. control dashboard" />
</svelte:head>
	  
<svelte:component this={type.component} />