<script lang="ts">
	import type { LidarModel } from "$lib/model/sensor/lidar-model";
	import type { LidarPayload } from "$lib/model/payload/lidar-payload";
	import type { ChartData } from "$lib/model/display/chart-data";
	import { webSocketModule } from "$lib/stores/websocket";
	import type { PublishMessage } from "$lib/model/ws/publish-message";
	import { onMount } from "svelte";
    // @ts-ignore
    import Chart from 'svelte-frappe-charts';
    import * as toml from "toml";
    import topicsToml from "../../commons/topics.toml?raw";
	import { getTopic } from "./TopicParser";

    const topics = toml.parse(topicsToml);

    export let sensor: LidarModel

    const lineOptions = {
        hideLine: 0
    };
    const colors = ["#054805"];
    let data: ChartData = {
        labels: [],
        datasets: [{
            values: []
        }]
    };
    const axisOptions = {
        xIsSeries: true
    }

    for (let i = -sensor.angleHalf + 1; i <= sensor.angleHalf; ++i) {
        data.labels.push(`${i}`);
        data.datasets[0].values.push(0);
    }
    
    let chart: Chart;
    let distance: number = 0;

    function acceptMessage(message: PublishMessage) {
        switch (message.topic) {
            case getTopic(topics, sensor.metadata.topics.distance): {
                const payload: LidarPayload = message.payload as LidarPayload;
                const normalizedAngle: number = payload.angle - sensor.angleHalf;

                distance = payload.distance;
                chart.removeDataPoint(payload.angle);
                chart.addDataPoint(String(normalizedAngle), [payload.distance], payload.angle);
                break;
            }
            default: {
                break;
            }
        }
    }

    onMount(() => {
        for (let topicName in sensor.metadata.topics) {
            const topic = getTopic(topics, sensor.metadata.topics[topicName]);

            $webSocketModule.subscribe(topic, acceptMessage);
        }
    });
</script>

<p><span class="label">Distance: </span><span class="textValue">{distance.toFixed(2)} cm</span></p>

<Chart data={data} type="line" lineOptions={lineOptions} colors={colors} axisOptions={axisOptions} animate={false} bind:this={chart} />