<script lang="ts">
	import type { SsaModel } from "$lib/model/sensor/ssa-model";
	import type { ChartData } from "$lib/model/display/chart-data";
	import { webSocketModule } from "$lib/stores/websocket";
	import type { PublishMessage } from "$lib/model/ws/publish-message";
	import { onMount } from "svelte";
    // @ts-ignore
    import Chart from 'svelte-frappe-charts';
    import * as toml from "toml";
    import topicsToml from "../../commons/topics.toml?raw";
	import type { NumericPayload } from "$lib/model/payload/numeric-payload";
	import { getTopic } from "./TopicParser";

    const topics = toml.parse(topicsToml);

    export let sensor: SsaModel

    const lineOptions = {
        regionFill: 1,
        hideDots: 1
    };
    const colors = ["#054805", "#a8e2a8"]
    let data: ChartData = {
        labels: [],
        datasets: [{
            name: "Front",
            values: []
        }, {
            name: "Bottom",
            values: []
        }]
    };
    const axisOptions = {
        xAxisMode: "tick",
        xIsSeries: true
    }

    for (let i = 1; i <= sensor.measurements; ++i) {
        data.labels.push(`${i}`);
        data.datasets[0].values.push(0);
        data.datasets[1].values.push(0);
    }
    
    let chart: Chart;
    
    let measurementsIndex = ++sensor.measurements;
    let front: {value: number} = {value: 0};
    let bottom: {value: number} = {value: 0};
    let firstPartAccepted: boolean = false;

    function updateDisplayedValues() {
        front = front;
        bottom = bottom;
    }

    function processSample(cell: {value: number}, message: PublishMessage) {
        const payload: NumericPayload = message.payload as NumericPayload;

        cell.value = payload.value;
        updateDisplayedValues();

        if (firstPartAccepted) {
            chart.removeDataPoint(0);
            chart.addDataPoint(String(measurementsIndex++), [front.value, bottom.value]);
        }

        firstPartAccepted = !firstPartAccepted;
    }

    function acceptMessage(message: PublishMessage) {
        switch (message.topic) {
            case getTopic(topics, sensor.metadata.topics.front): {
                processSample(front, message)
                break;
            }
            case getTopic(topics, sensor.metadata.topics.bottom): {
                processSample(bottom, message)
                break;
            }
            default: {
                break;
            }
        }
    }

    onMount(() => {
        for (let topicName in sensor.metadata.topics) {
            const topic = getTopic(topics, sensor.metadata.topics[topicName]);

            $webSocketModule.subscribe(topic, acceptMessage);
        }
    });
</script>

<p><span class="label">Front: </span><span class="textValue">{front.value.toFixed(2)} cm</span></p>
<p><span class="label">Bottom: </span><span class="textValue">{bottom.value.toFixed(2)} cm</span></p>

<Chart data={data} type="line" lineOptions={lineOptions} colors={colors} axisOptions={axisOptions} animate={false} bind:this={chart} />