<script lang="ts">
	import type { TactileModel } from "$lib/model/sensor/tactile-model";
	import { webSocketModule } from "$lib/stores/websocket";
	import type { PublishMessage } from "$lib/model/ws/publish-message";
	import { onMount } from "svelte";
    import * as toml from "toml";
    import topicsToml from "../../commons/topics.toml?raw";
	import { getTopic } from "./TopicParser";

    const topics = toml.parse(topicsToml);

    export let sensor: TactileModel;
    
    let contact: boolean = false;

    function acceptMessage(message: PublishMessage) {
        switch (message.topic) {
            case getTopic(topics, sensor.metadata.topics.contact): {                
                contact = true;
                setTimeout(function() {contact = false;}, 5000);
                break;
            }
            default: {
                break;
            }
        }
    }

    onMount(() => {
        for (let topicName in sensor.metadata.topics) {
            const topic = getTopic(topics, sensor.metadata.topics[topicName]);

            $webSocketModule.subscribe(topic, acceptMessage);
        }
    });
</script>

<p><span class="label">Contact: </span><b class={contact ? "contact" : "ok"}>{contact ? "YES" : "NO"}</b></p>

<style>
    .ok {
        color: green;
    }

    .contact {
        color: red;
    }
</style>