<script lang="ts">
    import { MapLibre, Marker, Popup } from 'svelte-maplibre';
    import style from "../../json/style.json"
	import Visualization from "../visualization/Visualization.svelte";
	import { onMount } from "svelte";
    import * as toml from "toml";
    import topicsToml from "$lib/commons/topics.toml?raw";
	import MapPoint from "$lib/components/mapPoint/MapPoint.svelte";
	import type { MapPointModel } from "$lib/model/mapPoint/map-point";
	import { path as pathStore } from "$lib/stores/autonomous-control";
	import { running as runningStore } from "$lib/stores/autonomous-control";
	import { paused as pausedStore } from "$lib/stores/autonomous-control";
	import { webSocketModule } from '$lib/stores/websocket';
	import { Priority } from '$lib/model/ws/priority';

    const topics = toml.parse(topicsToml);

    let running: boolean = false;
    let paused: boolean = false;

    let path: MapPointModel[] = [
        {
            lat: 48.97766,
            lon: 14.44573
        },
        {
            lat: 48.9777392,
            lon: 14.4461089
        }
    ]

    pathStore.subscribe((value: MapPointModel[]) => {
		path = value;
	});
    runningStore.subscribe((value: boolean) => {
		running = value;
	});
    pausedStore.subscribe((value: boolean) => {
		paused = value;
	});

    function addPoint() {
        const offset = 0.0001;
        const lastPoint = path[path.length - 1];

        path = [...path, {
            lat: lastPoint.lat + offset,
            lon: lastPoint.lon + offset,
        }];

        pathStore.set(path);
    }

    function removePoint(i: number) {
        if (path.length > 2) {
            path.splice(i, 1);
            path = path;
        }

        pathStore.set(path);
    }

    function start() {
        if (!running) {
            running = true;
            paused = false;
            runningStore.set(running);
            pausedStore.set(paused);

            $webSocketModule.publish(
                topics.autonomous.setPath,
                Priority.NORMAL,
                path
            );
        } else if (running && paused) {
            paused = false;
            pausedStore.set(paused);
        } else {
            return;
        }

        $webSocketModule.publish(
            topics.autonomous.start,
            Priority.NORMAL,
            {}
        );
    }

    function pause() {
        if (running) {
            paused = true;
            pausedStore.set(paused);

            $webSocketModule.publish(
                topics.autonomous.pause,
                Priority.NORMAL,
                {}
            );
        }
    }

    function stop() {
        running = false;
        paused = false;
        runningStore.set(running);
        pausedStore.set(paused);

        $webSocketModule.publish(
            topics.autonomous.stop,
            Priority.NORMAL,
            {}
        );
    }

    onMount(() => {
        $webSocketModule.publish(
            topics.client.autonomousLoad,
            Priority.NORMAL,		
            {}
        );
    });

    function beforeUnload() {
        $webSocketModule.publish(
            topics.client.autonomousUnload,
            Priority.NORMAL,		
            {}
        );
    }
</script>

<svelte:window on:beforeunload={beforeUnload}/> 

<div class="wrapper">
    <div class="split">
        <div class="left">
            <h1>Autonomous control</h1>
            <div class="control">
                <button class="green" disabled={running} on:click={addPoint}>Add point</button>
                <button class="green" disabled={running && !paused} on:click={start}>Start</button>
                <button class="green" disabled={!running || paused} on:click={pause}>Pause</button>
                <button class="red" disabled={!running} on:click={stop}>Stop</button>
            </div>
            <div>
                Running: <b>{running ? "Yes" : "No"}</b><br>
                Paused: <b>{paused ? "Yes" : "No"}</b>
            </div>
            <div class="path">
                <div>
                    {#each path as point, i (i)}
                        <MapPoint index={i + 1} bind:model={point} on:remove={() => {removePoint(i)}} disabledPosition={running} disabledRemove={running || path.length <= 2}/>
                    {/each}
                </div>
            </div>
            <Visualization />
        </div>
        <div class="right">
            <MapLibre 
                center={[14.44573, 48.97766]}
                zoom={18}
                class="map"
                standardControls
                style={style}
            >
                {#each path as point, i (i)}
                    <Marker draggable bind:lngLat={point}>
                        <span class="vehicle-indicator"></span>
                        <Popup openOn="hover" offset={[0, -10]}>
                            <div>
                                <b>Point {i + 1}</b><br>
                                Latitude: <b>{point.lat}</b><br>
                                Longitude: <b>{point.lon}</b>
                            </div>
                        </Popup>
                    </Marker>
                {/each}
            </MapLibre>
        </div>
    </div>
</div>

<style>
    button {
        margin: 20px;
        width: 180px;
        padding: 15px 25px;
        font-family: 'Lab Mono';
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        transition: 0.2s;
        cursor: pointer;
    }

    .wrapper {
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--main-light);
    }

    .split {
		width: 100%;
		height: 100%;
		display: grid;
		grid-gap: 2%;
		grid-template-columns: 49% 49%;
		grid-template-rows: 100%;
		grid-template-areas: "left right";
    }

    .left {
        grid-area: left;
        padding: 20px 40px;
    }

    .right {
        grid-area: right;
    }

    .path {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 380px;
        overflow-y: auto;
    }

    :global(.map) {
        min-height: 500px;
        height: 100%;
        width: 100%;
    }

    .control {
        text-align: center;
    }

    .vehicle-indicator {
        display: block;
        width: 15px;
        height: 15px;
        background-color: var(--additional-neutral);
        border: 4px dashed var(--main-dark);
        border-radius: 50%;
    }

    .slider {
        margin: 20px 0;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 14px;
        border-radius: 7px;
        background-color: var(--back-light);
        outline: none;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-webkit-slider-thumb:hover {
        background-color: var(--main-dark);
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-moz-range-thumb:hover {
        background-color: var(--main-dark);
    }

    .red:hover:enabled {
        background-color: var(--bad);
    }

    .green:hover:enabled {
        background-color: var(--good);
    }
</style>