<script lang="ts">
	import { webSocketModule } from "$lib/stores/websocket";
	import { Priority } from "$lib/model/ws/priority";
	import { speed as speedStore } from "$lib/stores/lt-control";
	import { running as runningStore } from "$lib/stores/lt-control";
	import { onPath as onPathStore } from "$lib/stores/lt-control";
	import { threshold as thresholdStore } from "$lib/stores/lt-control";
	import { onMount } from "svelte";
    import * as toml from "toml";
    import topicsToml from "$lib/commons/topics.toml?raw";
	import type { PublishMessage } from "$lib/model/ws/publish-message";
    import type { StringPayload } from "$lib/model/payload/string-payload";

    const topics = toml.parse(topicsToml);

	let speed: number = 0;
    let threshold: number = 100;
    let running: boolean = false;
    let onPath: boolean = false;
    let visualization: string = "";

    speedStore.subscribe((value: number) => {
		speed = value;
	});
    thresholdStore.subscribe((value) => {
		threshold = value;
	});
    runningStore.subscribe((value: boolean) => {
		running = value;
	});
    onPathStore.subscribe((value: boolean) => {
		onPath = value;
	});

    function handleSpeedChange() {
        speedStore.set(speed);

        $webSocketModule.publish(
            topics.lt.speed,
            Priority.NORMAL,		
            {
                value: speed
            }
        );
    }

    function handleThresholdChange() {
        thresholdStore.set(threshold);

        $webSocketModule.publish(
            topics.lt.threshold,
            Priority.NORMAL,		
            {
                value: threshold
            }
        );
    }

    function sendStartMessage() {
        running = true;
        runningStore.set(running);
        onPath = true;
        onPathStore.set(onPath);

        $webSocketModule.publish(
            topics.lt.start,
            Priority.NORMAL,
            {}
        );
    }

    function sendStopMessage() {
        running = false;
        runningStore.set(running);
        onPath = false;
        onPathStore.set(onPath);

        $webSocketModule.publish(
            topics.lt.stop,
            Priority.NORMAL,
            {}
        );
    }

    function acceptMessage(message: PublishMessage) {
        switch (message.topic) {
            case topics.lt.visualization:
                visualization = (message.payload as StringPayload).value
                break;
            case topics.lt.pathLost:
                running = false;
                runningStore.set(running);
                onPath = false;
                onPathStore.set(onPath);
                break;
            default:
                break;
        }
    }

    onMount(() => {
        $webSocketModule.subscribe(
            topics.lt.visualization,
            acceptMessage
        );  
        $webSocketModule.subscribe(
            topics.lt.pathLost,
            acceptMessage
        );        
        $webSocketModule.publish(
            topics.client.ltLoad,
            Priority.NORMAL,		
            {}
        );
    });

    function beforeUnload() {
        $webSocketModule.publish(
            topics.client.ltUnload,
            Priority.NORMAL,		
            {}
        );
    }
</script>

<svelte:window on:beforeunload={beforeUnload}/> 

<div class="wrapper">
    <div class="split">
        <div class="left">
            <h1>Line tracking control</h1>
            <input type="range" min="0" max="100" class="slider" id="speedSlider" bind:value={speed} on:change={handleSpeedChange}>
            <div>
                Speed: <b>{speed} %</b>
            </div>
            <input type="range" min="0" max="250" class="slider" id="thresholdSlider" bind:value={threshold} on:change={handleThresholdChange}>
            <div style="padding-bottom: 20px;">
                Sensor threshold: <b>{threshold}</b>
            </div>
            <div>
                Running: <b>{running ? "Yes" : "No"}</b>
            </div>
            <div>
                On path: <b>{onPath ? "Yes" : "No"}</b>
            </div>
            <button class="green" on:click={sendStartMessage}>Start</button>
            <button class="red" on:click={sendStopMessage}>Stop</button>
        </div>
        <div class="right">
            <div class="video-container">
                <img class="visualization" src={visualization} alt="LT camera capture">
            </div>
        </div>
    </div>
</div>

<style>
    button {
        margin: 10%;
        width: 150px;
        padding: 15px 25px;
        font-family: 'Lab Mono';
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        transition: 0.2s;
        cursor: pointer;
    }

    .wrapper {
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--main-light);
    }

    .split {
		width: 100%;
		height: 100%;
		display: grid;
		grid-gap: 2%;
		grid-template-columns: 49% 49%;
		grid-template-rows: 100%;
		grid-template-areas: "left right";
    }

    .left {
        grid-area: left;
        padding: 20px 40px;
    }

    .right {
        grid-area: right;
        padding: 20px 40px;
    }

    .video-container {
        width: 800px;
        height: 800px;
        background-color: var(--back-dark);
        color: var(--main-light);
    }

    .visualization {
        width: 100%;
        height: 100%;
    }

    .slider {
        margin: 20px 0;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 14px;
        border-radius: 7px;
        background-color: var(--back-light);
        outline: none;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-webkit-slider-thumb:hover {
        background-color: var(--main-dark);
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-moz-range-thumb:hover {
        background-color: var(--main-dark);
    }

    .red:hover {
        background-color: var(--bad);
    }

    .green:hover {
        background-color: var(--good);
    }
</style>