<script lang="ts">
	import { webSocketModule } from "$lib/stores/websocket";
	import { Priority } from "$lib/model/ws/priority";
	import Arrows from '../arrows/Arrows.svelte';
	import Visualization from "../visualization/Visualization.svelte";
	import { Direction } from "$lib/model/arrows/direction";
	import { speed as speedStore } from "$lib/stores/manual-control";
    import * as toml from "toml";
    import topicsToml from "$lib/commons/topics.toml?raw";
	import Icon from "@iconify/svelte";
	import { onMount } from "svelte";

    const topics = toml.parse(topicsToml);

	let speed: number = 0;

    speedStore.subscribe((value: number) => {
		speed = value;
	});

    function handleSpeedChange() {
        speedStore.set(speed);
    }

    function sendMoveMessage(direction: Direction) {
        $webSocketModule.publish(
            topics.manual.move,
            Priority.NORMAL,		
            {
                direction: direction,
                speed: speed
            }
        );
    }

    function sendStopMessage() {
        $webSocketModule.publish(
            topics.manual.move,
            Priority.NORMAL,		
            {
                direction: Direction.FORWARD,
                speed: 0
            }
        );
    }

    onMount(() => {
        $webSocketModule.publish(
            topics.client.manualLoad,
            Priority.NORMAL,		
            {}
        )
    });

    function beforeUnload() {
        $webSocketModule.publish(
            topics.client.manualUnload,
            Priority.NORMAL,		
            {}
        );
    }
</script>

<svelte:window on:beforeunload={beforeUnload}/> 

<div class="wrapper">
    <div class="split">
        <div class="left">
            <h1>Manual control</h1>
            <input type="range" min="0" max="100" class="slider" id="speedSlider" bind:value={speed} on:change={handleSpeedChange}>
            <div>
                Speed: <b>{speed} %</b>
            </div>
            <Arrows directionHandler={sendMoveMessage} stopHandler={sendStopMessage}/>
            <Visualization />
        </div>
        <div class="right">
            <div class="video-container">
                <div class="video-note">
                    <Icon icon="eva:video-outline" height="64px" />
                    <p>Video WIP</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .wrapper {
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--main-light);
    }

    .split {
		width: 100%;
		height: 100%;
		display: grid;
		grid-gap: 2%;
		grid-template-columns: 49% 49%;
		grid-template-rows: 100%;
		grid-template-areas: "left right";
    }

    .left {
        grid-area: left;
        padding: 20px 40px;
    }

    .right {
        grid-area: right;
    }

    :global(.map) {
        height: 100%;
        width: 100%;
    }

    .video-container {
        width: 100%;
        height: 100%;
        background-color: var(--back-dark);
        text-align: center;
        color: var(--main-light);
        font-size: 32px;
        font-weight: bold;
    }

    .video-note {
        padding-top: 30%;
    }

    .slider {
        margin: 20px 0;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 14px;
        border-radius: 7px;
        background-color: var(--back-light);
        outline: none;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-webkit-slider-thumb:hover {
        background-color: var(--main-dark);
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--main-neutral);
        cursor: pointer;
    }

    .slider::-moz-range-thumb:hover {
        background-color: var(--main-dark);
    }
</style>