<script lang="ts">
	import type { MapPointModel } from "$lib/model/mapPoint/map-point";
	import { createEventDispatcher } from "svelte";
    import Icon from '@iconify/svelte';

    export let index: number;
    export let model: MapPointModel;
    export let disabledPosition: boolean;
    export let disabledRemove: boolean;

    const dispatch = createEventDispatcher()

    function remove() {
        dispatch('remove')
    }
</script>

<p class="point">
    <small class="title">Point {index}</small>
    <span>Lat: <input bind:value={model.lat} disabled={disabledPosition} /></span>
    <span class="last">Lon: <input bind:value={model.lon} disabled={disabledPosition} /></span>
    <button class="red" disabled={disabledRemove} on:click={remove}><Icon icon="ion:trash-bin" /></button>
</p>

<style>
    button {
        bottom: -3px;
        padding: 10px 9px 8px 10px;
        font-family: 'Lab Mono';
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        transition: 0.2s;
        cursor: pointer;
        background: var(--main-light);
        position: relative;
        bottom: 15px;
        right: 10px;
        float: right;
    }
    input {
        padding: 8px;
        border: none;
        border-radius: 5px;
    }
    .point {
        border-radius: 15px;
        background-color: var(--back-light);
        padding: 15px;
    }
    .title {
        display: block;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .last {
        padding-left: 25px;
    }
    .red:hover:enabled {
        background-color: var(--bad);
    }
</style>