<script lang="ts">
	import BoardModule from "$lib/components/BoardModule.svelte";
  	import modulesJson from "$lib/json/monitoring.json"
	import { ModuleType } from "$lib/model/sensor/module-type";
	import { onMount } from "svelte";
	// @ts-ignore
	import Grid from "svelte-grid";
	// @ts-ignore
	import gridHelp from "svelte-grid/build/helper/index.mjs";

	let items: any = [];
	
	onMount(() => {
		modulesJson.forEach(moduleJson => {
			let module: any = moduleJson;

			if (typeof module.metadata.type === 'string' || module.metadata.type instanceof String) {
				module.metadata.type = ModuleType.valueOf(module.metadata.type);	
			}

			items.push({
				10: gridHelp.item(module.boardItem),
				id: module.metadata.id,
				data: module,
			});
		});
	});
	
	const cols = [
	  [ 100, 10 ],
	];
</script>

<svelte:head>
	<title>Monitoring dashboard | M.A.L.S.</title>
	<meta name="description" content="M.A.L.S. monitoring dashboard" />
</svelte:head>
	  
<div>
	<Grid bind:items={items} rowHeight={100} let:dataItem {cols}>
		<BoardModule sensor={dataItem.data}></BoardModule>
	</Grid>
</div>