<script lang="ts">
	import { ControlType } from "$lib/model/settings/control-type";
	import { controlType } from "$lib/stores/control-config";

	let selected: ControlType = ControlType.MANUAL;

	controlType.subscribe((value) => {
		selected = value;
	});
	
	function selectControlType() {
		controlType.set(selected);
	}
</script>

<svelte:head>
	<title>Settings | M.A.L.S.</title>
	<meta name="description" content="M.A.L.S. system settings" />
</svelte:head>

<div class="center-wrapper">
	<div class="text-column">
		<h1>Settings</h1>
		<h2>Control</h2>
		 
		<label for="controlTypes">Control type:</label>

		<select bind:value={selected} on:change={selectControlType} name="controlTypes" id="controlTypes">
			{#each Object.values(ControlType) as type}
				<option value={type}>
					{type.text}
				</option>
			{/each}
		</select>
	</div>
</div>

<style>
	h2 {
		padding-top: 20px;
		border-bottom: 4px solid var(--main-dark);
	}

	select {
		padding: 5px;
		border-radius: 5px;
		font-weight: bold;
        font-family: 'Lab Mono';
	}

	.center-wrapper {
		width: 100%;
		margin: 100px 0 0 0;
		padding: 0;
		text-align: center;
	}

	.text-column {
        padding: 60px;
        border-radius: 10px;
        background-color: var(--main-light);
		width: 60%;
		margin: 0 auto;
		text-align: justify;
	}
</style>