<script>
// @ts-nocheck
</script>

<svelte:head>
	<title>About | M.A.L.S.</title>
	<meta name="description" content="About M.A.L.S." />
</svelte:head>

<div class="center-wrapper">
	<div class="text-column">
		<h1>About</h1>
		<p>
			M.A.L.S. is an open mobile robotic vehicle for research and educational purposes. It was created as a part of the bachelor thesis at the <a href="https://www.prf.jcu.cz/en/faculty/departments/department-of-computer-science" target="_blank" rel="noopener noreferrer">Department of Computer Science</a> at the Faculty of Science of the University of South Bohemia in České Budějovice.
		</p>
		<ul>
			<li>Author: <b>Jakub Švarc (<a href="https://codeberg.org/atlas144" target="_blank" rel="noopener noreferrer">@atlas144</a>)</b></li>
			<li>Repository: <b><a href="https://codeberg.org/atlas144/mals" target="_blank" rel="noopener noreferrer">https://codeberg.org/atlas144/mals</a></b></li>
			<!-- svelte-ignore missing-declaration -->
			<li>Version (client): <b>{PKG.version}</b></li>
			<li>License (client): <b><a href="https://opensource.org/license/mit/" target="_blank" rel="noopener noreferrer">MIT</a></b></li>
		</ul>
	</div>
</div>

<style>
	a, a:link, a:visited, a:hover, a:active {
		color: var(--main-neutral);
	}

	ul {
		list-style: none;
		padding: 0;
		margin-top: 30px;
	}

	li {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.center-wrapper {
		width: 100%;
		margin: 100px 0 0 0;
		padding: 0;
		text-align: center;
	}

	.text-column {
        padding: 60px;
        border-radius: 10px;
        background-color: var(--main-light);
		width: 60%;
		margin: 0 auto;
		text-align: justify;
	}
</style>