<script lang="ts">
	import type { Sensor } from "$lib/model/sensor/sensor";

    export let sensor: Sensor
</script>

<div class="wrapper">
	<h1>{sensor.metadata.name}</h1>
    <svelte:component this={sensor.metadata.type.component} {...{"sensor": sensor}} />
</div>

<style>
    :global(.svlt-grid-shadow) {
      	background: var(--additional-light) !important;
    }
    
    :global(.svlt-grid-item) {
        background: var(--main-light);
        border-radius: 10px;
    }
    
    :global(.svlt-grid-resizer) {
        border-color: var(--additional-neutral) !important;
        right: 10px !important;
        bottom: 10px !important;
    }
    
    :global(.svlt-grid-active) {
        opacity: 1!important;
    }

    :global(.textValue) {
        font-weight: bold;
    }

    .wrapper {
        margin: 20px;
    }

    h1 {
        border-bottom: 3px solid var(--main-dark);
    }
</style>